.letra{
	color: #443e3e;
}
.fondo-jumbotron{
	background-image: url("images/bg.jpeg");
	color: white;
}
.fondo-jumbotron2{
	background-color: #242622;
	color: white;
	height: 70px;
	padding: 15px;
	margin-bottom: 0;
}
.container{padding: 10;

}

.border-card{
	border: silver solid 7px;
	padding: 0;
}
.logo{
	width: 200px;
}
.border-b{
	border: grey solid 1px;
}
.letra-celeste{
	color: #11b2db;
}
.margen-boton{
	margin: 5px;
}
.letra-m{
	font-size: 16px;
}
.letrita{
	font-size: 14px;
}
.aire{
	padding: 0 150px 0 150px;
}
